@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using SistemaReclutamiento.Utilitarios;
@{
    String persona = new JavaScriptSerializer().Serialize(Session["per_full"]);
    String ubigeo = new JavaScriptSerializer().Serialize(Session["ubigeo"]);
    String postulante = new JavaScriptSerializer().Serialize(Session["postulante"]);
    String usuario = new JavaScriptSerializer().Serialize(Session["usu_full"]);
    String rutaImage = new JavaScriptSerializer().Serialize(Session["rutaPerfil"]);
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="" role="tabpanel">
                <ul id="datosPersonales_ul" class="nav nav-tabs bar_tabs hidden-xs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#datosPersonales_tab" role="tab" data-toggle="tab" aria-expanded="true">Mis Favoritos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="datosPersonales_tab" aria-labelledby="datosPersonales_tab">
                        <div class="col-md-12 col-sm-12 col-xs-12" id="ofertasContenido">
                            <div class="row">


                            </div>
                        </div>
                        <!-- modal detalle de oferta -->
                        <div class="modal fade bs-example-modal-detalle" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="detalleModalLabel"></h4>
                                    </div>
                                    <div class="modal-body" id="detalleModalBody">
                                        <div class="panel-default">
                                            <div class="panel-heading">
                                                Requisitos
                                            </div>
                                            <div class="panel-body requisitos"></div>
                                            <div class="panel-heading">
                                                Funciones
                                            </div>
                                            <div class="panel-body funciones"></div>
                                            <div class="panel-heading">
                                                Competencias
                                            </div>
                                            <div class="panel-body competencias"></div>
                                            <div class="panel-heading">
                                                Condiciones Laborales
                                            </div>
                                            <div class="panel-body condiciones_lab"></div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- modal postular -->
                        <div class="modal fade bs-example-modal-postular" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title" id="postularModalLabel">Postular a Oferta: Responda las Siguientes Preguntas</h4>
                                    </div>
                                    <div class="modal-body" id="postularModalBody">
                                        <div class="x_panel">
                                            <div class="x_title">Responda : </div>
                                            <div class="x_content">
                                                <form class="form" id="frm-Postular"></form>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary btn_postularme">Postularme</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section js
{
    <script type="text/javascript">
        persona = (@Html.Raw(persona));
        ubigeo = (@Html.Raw(ubigeo));
        postulante = (@Html.Raw(postulante));
        usuario = (@Html.Raw(usuario));
        rutaImage = (@Html.Raw(rutaImage));
    </script>
    <script src="~/Content/viewjs/OfertaLaboral/OfertaLaboralListarFavoritosVista.js"></script>
}
